#select-block {
	position: absolute;
	display: block;
	z-index: 9999;
	background-color: lightblue;
	opacity: 0.5;
	border-bottom-color: blue;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	height: 20px;
	width: 20px;
}

#simulation {
	z-index: -1;
	height: 640px;
	width: 640px;
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#simulation img {
	position: absolute;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	-moz-transform: scaleY(-1); /* Gecko */
	-o-transform: scaleY(-1); /* Opera */
	-webkit-transform: scaleY(-1); /* Webkit */
	transform: scaleY(-1); /* Standard */
	filter: FlipV; /* IE 6/7/8 */
}

#simulation img.opaque {
	opacity: 1;
}

#file_input {
	font-size: 0px !important;
}

#file .ui-fileupload-filename {
	display: none;
}

#geometry-lattice-name {
	margin-left: 1em;
}

form {
	position: relative;
}